{% extends 'base.html' %}

{% block title %}
    {{ post.heading }}
{% endblock %}

{% block page_heading %}
    {{ post.heading }}
{% endblock %}

{% block content %}
<div class="meta">
    📅 {{ post.date }} &nbsp;&nbsp; ✍️ {{ post.author }} &nbsp;&nbsp; 💾
    {% for category in post.categories %}
        <a href="{{ url_for('show_category', category_name=category) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
</div>

<p class="content">
  {{ post.content1 | trim | replace('\n', '<br>') | safe }}
</p>
<img src="{{ post.image_url1 }}" alt="发电机和雨亭图片">

<p class="content">
  {{ post.content2 | trim | replace('\n', '<br>') | safe }}
</p>
<img src="{{ post.image_url2 }}" alt="摩托加速指示牌">
<img src="{{ post.image_url3 }}" alt="额外指示牌图片">

<p class="content">
  {{ post.content3 | trim | replace('\n', '<br>') | safe }}
</p>
<img src="{{ post.image_url4 }}" alt="Lambda 标志指示牌">
{% endblock %}
