{% extends 'base.html' %}

<!-- block title 是浏览器上面tab那个 -->

<!-- block page_heading 是真正的标题 -->
{% block page_heading %}
    <span class="index-page-Neos-Blog">{{ post.heading }}</span>
{% endblock %}

<!-- 填充内容到base -->
{% block content %}

<!-- 这里开始才应该写内容 -->
<h1>目录</h1>
<a href="{{ url_for('death_stranding1') }}">1. 一年前在死亡搁浅留下的建筑和指示牌</a> <br>
<a href="{{ url_for('gamma_doppler') }}">2. CS2多普勒&伽马多普勒款式模版挑选指南</a> <br>
<!-- <a href="{{ url_for('blue_farm_primer') }}">万智牌 cEDH Blue Farm 套牌指南</a> <br> -->
<!-- <a>万智牌 cEDH Blue Farm 套牌指南</a> <br> -->
<a href="{{ url_for('neos_cs2_inv') }}">3. 2025年CS2自用主战武器皮肤纪念</a> <br>
<!-- <a href="{{ url_for('kinnan_cedh_primer') }}">万智牌 cEDH 持绊逸才季宁 套牌指南</a> <br> -->
<!-- <a>万智牌 cEDH 持绊逸才季宁 套牌指南</a> <br> -->
<!-- <a href="{{ url_for('cs_market_crash') }}">2025年10月23日CSGO饰品市场崩盘</a> <br> -->
<!-- <a>2025年10月23日CSGO饰品市场崩盘</a> <br> -->
<a href="{{ url_for('shorikai_stax_1_show') }}">4. 万智牌EDH(8分/Challenge/Optimised)创机胜利械套牌展示</a> <br>
<a href="{{ url_for('hottoys_berserker') }}">5. Hot Toys Berserker Predator</a> <br>
<a href="{{ url_for('cedh_kinnan_show') }}">6. 万智牌cEDH持绊逸才季宁套牌展示</a> <br>
<a href="{{ url_for('cedh_blue_farm_show') }}">7. 万智牌cEDH堤谟娜/寇姆(Blue Farm)套牌展示</a> <br>
<a href="{{ url_for('md_article', slug='tryhackme-room-metasploit-exploitation') }}">8. Metasploit 使用指南</a> <br>

{% endblock %}
